altair==5.3.0
blinker==1.8.2
cachetools==5.3.3
click==8.1.7
gitdb==4.0.11
GitPython==3.1.43
numpy==2.0.0
pandas==2.2.2
pillow==10.4.0
protobuf==5.27.2
pyarrow==16.1.0
pydeck==0.9.1
pytz==2024.1
smmap==5.0.1
streamlit==1.36.0
tenacity==8.4.2
toml==0.10.2
toolz==0.12.1
tzdata==2024.1
watchdog==4.0.1
